.headingsection{
    background: url("https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-size: cover;
    background-position: center;
  

   
    
}
.heading{
    text-align: center;
    padding-top: 70px;
    padding-bottom: 15px;
    text-decoration: underline;
}
.numhead{
    text-align: center;
    padding-bottom: 15px;
    text-decoration: underline;
    padding-top: 20px;
    margin-bottom: 0px;
}
.headingpara{
    padding-left: 30px;
    padding-right: 30px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom:40px;
}
.input{
    display: flex;
    justify-content: center;
}
.fullpage{
    background-color: rgb(118, 134, 134);
    background: url("https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

.contentdiv{
    background-color:white;
    background: url("https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  
  
    font-size: 18px;
    
}
.tamildiv{

background: url("https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");


    background-color: rgb(26, 26, 100);
    color:white;
    padding: 30px;

}

.englishdiv{

background: url("https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");


    background-color: rgb(26, 26, 100);
    color:white;
    padding:30px;
}
.middlediv{
    background-color: rgb(26, 26, 100);
    color:white;
    padding: 30px;
    background: url("https://images.pexels.com/photos/235985/pexels-photo-235985.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}
#button{
    background-color:burlywood;
}


@media(min-width:680px){
    .tamildiv{
        display: flex;
        justify-content: space-between;
    }
    .englishdiv{
        display: flex;
        justify-content: space-between;
    }
}
@media(min-width:1080px){
    .contentdiv{
        display: flex;
        justify-content: space-between;
        /* flex-direction: column; */
}
.tamildiv{
    display: flex;
    flex-direction: column;
    
    
}
.englishdiv{
    display: flex;
    flex-direction: column;
  
    
}
.headingpara{
    margin-top: 61px;
    margin-bottom: 61px;
}

}

@media(min-width:1400px){
.headingpara{
    padding-left: 200px;
    padding-right: 200px;
}
.numhead{
    padding-bottom: 40px;
    padding-top: 40px;
}
}
@media(min-width:1798px){
    .contentdiv{
        border-bottom: 40px solid burlywood;

    }
}


